* {
    box-sizing: border-box;
  }

  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  html{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    background-color: blue;
    position: absolute;
    
}

nav {
    width: 100%;
    background-color:#F35667;
  }

  nav .nav{
    width: 600px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  nav .nav .navigation a {
    font-size: 1.4rem;
    text-decoration: none;
  }

  nav .nav .navigation button {
    display: flex;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    padding: 2.5rem;
  }

  nav .nav h1 {
    display: flex;
    color: #FFFFFF;
    position: absolute;
    width: 66px;
    height: 36px;
    left: 50px;
    top: 50px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
  }

  h1:hover {
    background-color: transparent;
    color: lightblue;
    font-size: 1em;
  }

  nav .nav .navigation {
    width: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
  }

  @media only screen and (max-width: 500px){
    nav .nav {
      width: 80%;
    }
  }

  a {
    text-decoration:none;
    color:#fff   
   }

   a a:hover {
    background-color: transparent;
  }

   .container {
    display: flex;
    justify-content: space-arround;
    max-width: 880px;
    width: 100%;
    margin: 42% auto;
  }

   form {
       margin: 0 auto;
       width: 400px;
       padding: 1em;
       border: 1px solid #ccc;
       border-radius: 1em;
   }

   form div + div {
       margin-top: 1em;
   }

   label {
       display: inline-block;
       width: 70px;
       text-align: right;
   }

   input, textarea {
       font: 1em sans-serif;
       width: 300px;
       box-sizing: border-box;
       border: 1px solid;
   }

   input:focus, textarea:focus {
       border-color: #000;
   }

   textarea {
       vertical-align: top;
       height: 5em;
   }

   .button {
    display: flex;
    align-items: center;
    text-align: center;
    color: #F35667;
    left: 2.08%;
    right: 2.08%;
    top: 22.22%;
    bottom: 22.22%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;  
   }

   @media only screen and (max-width: 500px) {
    background-color: @blue;

  
   