section {
    display: block;
}
*{
    box-sizing: border-box;
}
html, body {
    width: 85%;
    height: 100px;
    font-family: 'Ubuntu', sans-serif;
    background-color:lightskyblue;
    
}
header {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}
.nav .nav li {
    list-style: none;
    margin: 0;
    font-size: 3em;
    color: white;
    text-decoration: none;

}
h1:hover{
    background-color: transparent;
    color: red;
    font-size: 3em;
}
h1:hover h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    justify-content: space-around;
}
.container .MyTopNine {
    width: 40%;
    height: 450px;
    margin: 30px;
}
.container .main-content {
    margin: 150px;
}
.container .main-content h1 {
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}
.container .main-content p {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
    
}

