// Footer Styles
footer {
    color: @white;
    background: @red;
    padding: 20px 0;
    border: 1px double;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }