// Variables

@nav-bg:@blue;
@nav-font:@white;
@nav-border:@light-blue;

@header-font-color: @white;
@main-font-color: @white;

@footer-font-color: @white;

// Color Vars

@white:#FFFFFF
@red: #F35667
@blue:#1F43D4

// Mobile var
@phone: ~"only screen and (max-width: 500px)";